{% extends "base.html" %}
{% load book_extras %}
{% load crispy_forms_tags %}

{% block title %}{{ request.user }} Profile{% endblock %}

{% block content %}
{% row  "container my-5" %}
{% comment %} <div class="container my-5"> {% endcomment %}
  <h1 class="text-center mb-5">{{ request.user }} Books</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Publication Date</th>
        <th>File Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.author }}</td>
        <td><a href="{{ book.pdf.url }}" target="_blank">{{book.title}}</a></td>
        <td>{{ book.writer }}</td>
        <td>{{ book.publication_date|date:"d M Y" }}</td>
        <td>{{ book.pdf.size|filesizeformat }}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="{% url 'update_book' book.pk %}" >Update</a>
          <a class="btn btn-danger btn-sm" href="{% url 'delete_book' book.pk %}" >Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No books available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-center">
    <a class="btn btn-success" href="{% url 'add_book' %}" >Add Book</a>
  </div>
{% comment %} </div> {% endcomment %}
{% endrow %}
{% endblock content %}




{% comment %} {% extends "base.html" %}
{% load book_extras %}
{% load crispy_forms_tags %}

{% block title %}{{ request.user }} Profile{% endblock %}

{% block content %}
{% row %}
    <h1 class="text-center my-5">{{ request.user }} Books</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>writer</th>
          <th>Publication Date</th>
          <th>File Size</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.author }}</td>
          <td><a href="{{ book.pdf.url }}" target="_blank">{{book.title}}</a></td>
          <td>{{ book.writer }}</td>
          <td>{{ book.publication_date|date:"d M Y" }}</td>
          <td>{{ book.pdf.size|filesizeformat }}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'update_book' book.pk %}" >Update</a>
            <a class="btn btn-danger" href="{% url 'delete_book' book.pk %}" >Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="text-center">No books available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% col "text-center my-5" %}
    <a class="btn btn-success" href="{% url 'add_book' %}" >Add Book</a>
    {% endcol %}
{% endrow %}
{% endblock content %} {% endcomment %}
